<div class="card-deck m-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Garage</h5>
      <p class="card-text">
        {{garage}}
      </p>
      <p class="card-text"><small class="text-muted">{{updatedDate}}</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Shop</h5>
      <p class="card-text">
        {{ shop }}
      </p>
      <p class="card-text"><small class="text-muted">{{updatedDate}}</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tours</h5>
      <p class="card-text">
        {{tours}}
      </p>
      <p class="card-text"><small class="text-muted">{{updatedDate}}</small></p>
    </div>
  </div>
</div>

